SELECT

	SUBSTRING(CONVERT(VARCHAR(10),pdi.DATPAG,103),4,7) AS DATA,

	SUM(pdi.VLRPAG) AS VALOR

FROM

	--PAGDOC pd INNER JOIN PAGDOCI pdi ON

	--	pd.NUMDOC = pdi.NUMDOC AND

	--	pd.SERIE = pdi.SERIE
	PAGDOCI pdi

WHERE

	DATEADD(MONTH,0,pdi.DATPAG) >= DATEADD(MONTH,-12,GETDATE()) AND

	pdi.DATPAG <= GETDATE()

GROUP BY SUBSTRING(CONVERT(VARCHAR(10),pdi.DATPAG,103),4,7),MONTH(pdi.DATPAG),YEAR(pdi.DATPAG)

ORDER BY YEAR(pdi.DATPAG), MONTH(pdi.DATPAG)